body{
	background:white;
	color: #fff;
	font-family: sans-serif;
	width: 100vw;
	margin: 0;
}



/* index */

.begin button {
	background-color: red;
	border: 2px; 
	color: white;
	text-align: center;
	font-size: 5em;
	border-radius: 0.4em;
	width: auto;
	margin-left: 7.9em;
	margin-top: 3.5em;
}

.begin button:hover {
	background-color: green;
	transition: 0.5s;
	border: 2px solid white;
}


/* opties */

.opties h1 {
	color: black;
	text-align: center;
}

.opties img {

 height: 20vw;
 padding-left: 38.5em;
 transition: transform 0.3s ease;
}

.opties img:hover {
	transform: scale(1.1);

}

/* inzoom effect bron chatgpt */


/* game */

.game button {
	background-color: red;
	border: 2px; 
	color: white;
	text-align: center;
	font-size: 1em;
	border-radius: 0.4em;
	width: auto;
}

.game button:hover {
	background-color: green;
	transition: 0.5s;
	border: 2px solid white;
}



.game div {
	position: fixed;
	align-items: center;
	padding-top: 8.6em;

}

.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	text-align: center;
}

.hide {
	display: none;
}



#studio {
	height: 20em;
	width: 100%;
	align-items: center;
}

#icon {
  height: 25vh;

}

#icon2 {
	height: 25vh;

}

#icon3 {
	height: 25vh;

}



#button1 {
	height: 10em;
	transition: transform 0.3s ease;
}

#button2 {
	height: 10em;
	transition: transform 0.3s ease;
}

#button3 {
	height: 10em;
	transition: transform 0.3s ease;
}

#button4 {
	height: 10em;
	transition: transform 0.3s ease;
}


#button1:hover {
	transform: scale(1.1);
	
}#button2:hover {
	transform: scale(1.1);
	
}

#button3:hover {
	transform: scale(1.1);
	
}

#button4:hover {
	transform: scale(1.1);
	
}



